<h3>Agile Whateverness at PLOS</h3>
<ol>
  <li>Weird-ass reporting structure. Functional groups versus org hierarchy.</li>
  <li>Our teams are silo'ed. Not very much lateral mobility for engineers.</li>
</ol>
