body {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 30px;
  background-color: #EFE4B0;
}

h2 {
  font-family: "Papyrus";
  color: #9D654D;
}

.container {
  margin-left: 40px;
  margin-right: 40px;
}

h3 {
  color: #617753;
}

button {
  width: 140px;
  font-size: 40px;
}

#map {
  height: 500px;
}

.tite-pic {
  height: 300px;
}
