<h3>Ember -- was it actually a good choice?</h3>
<table>
  <thead>
  <tr>
    <td>Bad stuff</td>
    <td>Good stuff</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <ul>
        <li>It's hard to learn</li>
        <li>It's hard to hire for</li>
        <li>The mascot is dumb</li>
        <li>It's constantly changing</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Structure! Way better than the spaghetti that jquery or backbone.js creates</li>
        <li>Nicely-sized community</li>
        <li>???</li>
        <li>?????</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
