<h3>Boring tips for starting with Ember</h3>

<ul>
  <li>The Ember inspector is really really useful so don't forget to use it</li>
  <li>Understand the various lifecycle hooks</li>
  <li>Understand the run loop</li>
  <li>Exlpore the CLI generators</li>
  <li>Read the docs. Over and over</li>
  <li>Enlist Emberman</li>
</ul>
