<h3>Everyday Pairing</h3>
<p>Pairing can be awesome</p>
<ul>
  <li>Knowledge osmosis</li>
  <li>Constant design feedback</li>
  <li>Distribution of cognitive load</li>
  <li>Easy to stay on task</li>
</ul>