<h3>I feel very opinionated about Agile now</h3>
<p>which makes me feel very very uncool</p>
<p>These are the things which I think are key:</p>
<ol>
  <li>Commit to delivering user value, not to delivering software value (unless software is your product)</li>
  <li>Don't obsess about hypothetical use-cases. Just do 1)</li>
  <li>Refactoring code is bad, unless it actively helps with 1)</li>
  <li>Don't reward yourself with points for refactoring or clean-up. Just do 1)</li>
  <li>Velocity is pretty meaningless for engineers except for prioritizing refactoring or clean-up.</li>
  <li>Don't forget to reiterate the stuff that works</li>
</ol>
