<h3>Everyday Pairing</h3>
<p>Pairing can also be a drag</p>
<ul>
  <li>It's exhausting</li>
  <li>It's not a replacement for code review and other code quality mechanisms</li>
  <li>Sometimes I'm just not in the mood</li>
  <li>I miss music</li>
  <li>It can be hard to break out of the habit for tasks that don't really need it</li>
  <li>Our pairing stations are uncomfortable and feature-poor</li>
  <li>It requires a lot of team coordination</li>
</ul>